@import "tailwindcss";

/* Add this to your global.css file */
:root {
  --vh: 1vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.h-screen {
  height: 100vh; /* Fallback */
  height: calc(
    var(--vh, 1vh) * 100
  ); /* Use the CSS variable for more accurate height */
}
